body {
    background-color: slategray;
    text-align: center;
}
p {
    color: white;
    font-family: Trebuchet MS;
    font-size: 1.2em;
    margin: 20px;
}
img {
    margin: 60px 0 30px 0;
    width: 250px;
}
input {
    width: 300px;
    height: 50px;
    margin: 20px 20px;
    border: none;
    border-radius: 10px;
    font-family: Trebuchet MS;
    text-align: center;
    font-size: 1.3em;
}

input:focus{
    outline: none;
    border: solid 5px #00FFCE;
}

#show {
    background-color: palevioletred;
    color: white;
    width: 200px;

}

#show:hover {
    background-color: mediumvioletred;
    

}